.font-50 {
    font-size: 50px;
}
.theme-color {
    color: #7f67f6
}
.text-orange {
    color: #f7af00 !important;
}
.pointer {
    cursor: pointer !important;
}
.add-link-btn {
    width: auto !important;
}
.ic-add-link {
    cursor: pointer;
    font-size: 14px;
    text-transform: capitalize;
    color: #4a5054;
    font-weight: 600;
}
.site-data-card-body {
    padding: 10px;
    max-height: 300px;
    overflow-y: auto;
}



.toast {
    width: 100% !important;
    border-radius: 0 !important;
    box-shadow: none !important;
}

.contact-btns.active {
    cursor: pointer;
    box-shadow: -14.142px 14.142px 20px 0px rgba(157, 157, 157, 0.5);
    background-image: -webkit-linear-gradient(0deg, #bfacff 0%, #795fff 100%);
}






.admin-dashboard-page .feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}
/*
 * Sidebar
 */

.admin-sidebar .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    /* Behind the navbar */
    padding: 48px 0 0;
    /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}
.admin-sidebar .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
}
@supports ((position: -webkit-sticky) or (position: sticky)) {
    .admin-sidebar .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

/*
 * Content
 */

[role="main"] {
    padding-top: 48px;
    padding-bottom: 48px;
    min-height: 100vh;
    /* Space for fixed navbar */
}


.admin-sidebar .sidebar .nav-link {
    font-weight: 500;
    color: #333;
}
.admin-sidebar .sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
}
.admin-sidebar .sidebar .nav-link.active {
    color: #007bff;
}
.admin-sidebar .sidebar .nav-link:hover .feather, .admin-sidebar .sidebar .nav-link.active .feather {
    color: inherit;
}
.admin-sidebar .sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}


/*
 * Navbar
 */

.ic-nav-bar .navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 15px;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
-}
.ic-nav-bar .navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}
.admin-dashboard-page .form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}
.admin-dashboard-page .form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}