<div class="manage-location-page" data-ng-controller="LocationController" ng-init="jl.list.init()">
	
	<div class="container-fluid">
		<div class="row">
			
			<div class="admin-sidebar" data-ng-include="'/admin-angular/views/sidebar.html'"></div>
			
			<main class="col-md-9 ml-sm-auto col-lg-10 px-4" role="main">
				<div class="qualification">
					<div class="pt-3 pb-2 mb-3 border-bottom">
						<h3 class="h3">Locations</h3>
					</div>

				    <div class="row" ng-if="!jl.list.loading">
						<div class="col-md-4 col-sm-12 col-xs-12">
							<div class="form-group">
								<div class="input-group mb-3">
								  	<input type="text" ng-model="jl.add.model.city" class="form-control" placeholder="City Name" />
								  	<div class="input-group-append">
								    	<button class="btn btn-primary" type="button" ng-disabled="!jl.add.model.city" ng-click="jl.add.submit()">ADD</button>
								  	</div>
								</div>
							</div>
						</div>

						<div class="col-md-4 col-sm-12 col-xs-12">
							<div class="form-group">
							    <h5 class="pt-2">
							    	Data Available: <span class="text-info">{{jl.list.data.length}}</span>
							    </h5>
							</div>
						</div>

						<div class="col-md-12 col-sm-12 col-xs-12">
							<div class="form-group">
							    <input type="text" ng-model="jl.list.filterData" class="form-control" placeholder="Search data" aria-describedby="basic-addon2" />
							</div>
						</div>
					</div>

				    <div class="table-responsive" ng-if="jl.list.data.length && !jl.list.loading">
					    <table class="table table-bordered table-striped mb-0">
						    <thead>
						        <tr>
						            <th>#</th>
						            <th>Location</th>
						            <th>Action</th>
						        </tr>
						    </thead>
						    <tbody>
						        <tr ng-repeat="row in jl.list.data | orderBy: 'city' | filter: { 'city': jl.list.filterData }">
						            <td>{{$index}}</td>
						            <td>
						            	<div ng-if="!row.isEdit">{{row.city}}</div>
						            	<div ng-if="row.isEdit"><input type="text" ng-model="jl.edit.model.city" class="form-control" /></div>
						            </td>
						            <td>
						                <div ng-if="!row.isEdit"><i ng-click="jl.edit.openModal(row)" class="fa fa-pencil-square-o pointer ml-10" aria-hidden="true"></i>
						                
						                <i ng-click="jl.delete.openModal(row)" class="fa fa-trash-o pointer ml-10" aria-hidden="true"></i>
						                
						                <i ng-click="jl.edit.activeQa(row, false)" ng-if="row.status" class="fa fa-toggle-on pointer ml-10" aria-hidden="true"></i>
						                
						                <i ng-click="jl.edit.activeQa(row, true)" ng-if="!row.status" class="fa fa-toggle-off pointer ml-10" aria-hidden="true"></i></div>
						                
						                <div ng-if="row.isEdit">
						                	<button type="button" class="btn btn-secondary btn-sm" ng-disabled="!row.city" ng-click="jl.edit.closeModal(row)">Cancel</button>
						                	<button type="button" class="btn btn-primary btn-sm" ng-disabled="!jl.edit.model.city" ng-click="jl.edit.submit(row)">Save</button>
						                </div>
						            </td>
						        </tr>
						    </tbody>
						</table>
					</div>

					<div ng-if="!jl.list.data.length && !jl.list.loading" class="no-data-cn text-center">
						<h4>No data</h4>
					</div>

					<div ng-if="jl.list.loading" class="text-center loading-cn">
						<h2>
							<i class="fa fa-spinner fa-pulse fa-fw"></i>
							<span class="sr-only">Loading...</span>
						</h2>
					</div>
				</div>
			</main>
		</div>
	</div>

	<div data-ng-include="'/admin-angular/views/modal.html'"></div>
</div>