<footer class="footer-area section-gap section-gap-custom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-12">
                        <div class="_single-footer-widget">
                            <h6>
                                Our Services
                            </h6>
                            <ul class="footer-nav">
                                <li>
                                    <a class="pointer">
                                        Job Placement
                                    </a>
                                </li>
                                <li>
                                    <a class="pointer">
                                        HR Solution
                                    </a>
                                </li>
                                <li>
                                    <a class="pointer">
                                        Manpower provide
                                    </a>
                                </li>
                                <li>
                                    <a class="pointer">
                                        Complete job related solution
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="" style="padding-top: 0px;">
                            <div class="footer-social">
                                <h6>
                                    Stay Connected with Us
                                </h6>
                                <a href="https://plus.google.com/u/0/100247083268164825478" target="_blank">
                                    <i aria-hidden="true" class="fa fa-google-plus">
                                    </i>
                                </a>
                                <a href="https://www.facebook.com/PerfectJobPlacemmentRajkot/" target="_blank">
                                    <i aria-hidden="true" class="fa fa-facebook">
                                    </i>
                                </a>
                                <a href="https://www.instagram.com/perfect_job_rajkot/" target="_blank">
                                    <i aria-hidden="true" class="fa fa-instagram">
                                    </i>
                                </a>
                                <a href="https://www.linkedin.com/in/perfect-job-placement-rajkot-748417164/" target="_blank">
                                    <i aria-hidden="true" class="fa fa-linkedin">
                                    </i>
                                </a>
                                <a href="https://www.justdial.com/Rajkot/Perfect-Job-Placement-Rajkot-Opposite-Amarnath-Temple-Garden-150-Feet-Ring-Road/0281PX281-X281-180524165329-C9D9_BZDET?xid=UmFqa290IFBlcmZlY3QgSm9iIFBsYWNlbWVudCBSYWprb3Q=" target="_blank">
                                    Jd
                                </a>
                                <div class="container mt-3">
                                    <a class="pointer btn btn-sm btn-dark text-white mt-2 border-0" href="https://play.google.com/store/apps/details?id=com.resume.maker.app" target="_blank">Create you CV now.</a>
                                </div>
                                <div class="container mt-50">
                                    <div class="copyright">
                                        © Copyright
                                        <strong>
                                            PerfectJobPlacement
                                        </strong>
                                        . All Rights Reserved 2021
                                    </div>
                                    <div class="credits">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12 d-none d-lg-block">
                        <div class="single-footer-widget mail-chimp">
                            <h6 class="mb-20">
                                Instagram Feed
                            </h6>
                            <ul class="instafeed d-flex flex-wrap">
                                <li>
                                    <img alt="" height="54px;" src="img/Perfect Job Placement Rajkot-Job Consultancy In Rajkot 1.jpg" width="54px;"/>
                                </li>
                                <li>
                                    <img alt="" height="54px;" src="img/Perfect Job Placement Rajkot-Job Consultancy In Rajkot 2.jpg" width="54px;"/>
                                </li>
                                <li>
                                    <img alt="" height="54px;" src="img/Perfect Job Placement Rajkot-Job Consultancy In Rajkot 3.png" width="54px;"/>
                                </li>
                                <li>
                                    <img alt="" height="54px;" src="img/Perfect Job Placement Rajkot-Job Consultancy In Rajkot 4.jpg" width="54px;"/>
                                </li>
                                <li>
                                    <img alt="" height="54px;" src="img/Perfect Job Placement Rajkot-Job Consultancy In Rajkot 5.jpg" width="54px;"/>
                                </li>
                                <li>
                                    <img alt="" height="54px;" src="img/Perfect Job Placement Rajkot-Job Consultancy In Rajkot 6.jpg" width="54px;"/>
                                </li>
                                <li>
                                    <img alt="" height="54px;" src="img/Perfect Job Placement Rajkot-Job Consultancy In Rajkot 7.jpg" width="54px;"/>
                                </li>
                                <li>
                                    <img alt="" height="54px;" src="img/Perfect Job Placement Rajkot-Job Consultancy In Rajkot 8.png" width="54px;"/>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>