<div class="modal fade" id="job-preview" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content" ng-form="addnewJobForm">
			<div class="modal-header">
				<h3 class="modal-title">Job Preview</h3>
				<button type="button" class="close" aria-label="Close" ng-click="homeObj.jobObj.preview.close()">
		  			<i class="fa fa-window-close-o" aria-hidden="true"></i>
				</button>
			</div>
			<div class="modal-body modal-body-preview bg-light">
				<div class="row">
					<div class="col-md-8">
						<div class="card mb-3">
						  	<div class="card-body">
						    	<h4>{{homeObj.jobObj.preview.data.jobTitle}}</h4>
						    	<p class="m-0">{{homeObj.jobObj.preview.data.jobDescription || 'Looking for good candidates'}}</p>
						    	<span class="badge badge-pill badge-info pointer mr-5 mb-2">
									<span>Post date: {{homeObj.jobObj.preview.data.createdAt | date}}</span>
								</span>
								<span class="badge badge-pill badge-info pointer mr-5 mb-2">
									<span>Applications: 10</span>
								</span>
								<span class="badge badge-pill badge-info pointer mr-5 mb-2">
									<span>Views: 152</span>
								</span>
						  	</div>
						</div>

						<div class="card">
						  	<div class="card-body">
						    	<div>
									<div><h5>Job Category</h5></div>
									<div>{{g.adminData.jobCategory[homeObj.jobObj.preview.data.jobCategory]}}</div>
									<hr>
								</div>
								<div>
									<div><h5>Job Timing:</h5></div>
									<div>{{g.adminData.jobWorkType[homeObj.jobObj.preview.data.jobWorkType]}} - {{g.adminData.whPerDay[homeObj.jobObj.preview.data.jobTiming]}}</div>
									<hr>
								</div>
								<div>
									<div><h5>Required Experience:</h5></div>
									<div>{{g.adminData.candidateMinExp[homeObj.jobObj.preview.data.cexpRequired]}}</div>
									<hr>
								</div>
								<div>
									<div><h5>Inteview DateTime:</h5></div>
									<div>
										{{homeObj.jobObj.preview.data.interviewDateFrom | date}} - To - {{homeObj.jobObj.preview.data.interviewDateTo | date}}
									</div>
									<hr>
								</div>
								<div>
									<div><h5>Required Qualification</h5></div>
									<div>{{g.adminData.categoryObject[homeObj.jobObj.preview.data.qualification]}} - <span ng-if="homeObj.jobObj.preview.data.department.length" ng-repeat="drow in homeObj.jobObj.preview.data.department">[{{drow}}]</span></div>
									<hr>
								</div>
								<div>
									<div><h5>Job Position</h5></div>
									<div>{{homeObj.jobObj.preview.data.jobPosition}}</div>
									<hr>
								</div>
								<div>
									<div><h5>Job City</h5></div>
									<div>{{homeObj.jobObj.preview.data.cityName}}</div>
									<hr>
								</div>
								<div>
									<div class="mb-2"><h5>Required Documents</h5></div>
									<div class="multi-select-span">
										<span class="badge badge-pill badge-primary pointer mr-5 mb-2" ng-repeat="row in homeObj.jobObj.preview.data.requiredDoc">
											<span>{{row}}</span>
										</span>
									</div>
									<hr>
								</div>
								<div ng-if="homeObj.jobObj.preview.data.facility">
									<div><h5>Facility</h5></div>
									<div>{{homeObj.jobObj.preview.data.facility}}</div>
									<hr>
								</div>
								<div ng-if="homeObj.jobObj.preview.data.workProfile">
									<div><h5>Required Skills</h5></div>
									<div>{{homeObj.jobObj.preview.data.workProfile}}</div>
									<hr>
								</div>
								<div ng-if="homeObj.jobObj.preview.data.notes">
									<div><h5>Note</h5></div>
									<div>{{homeObj.jobObj.preview.data.notes}}</div>
								</div>
						  	</div>
						</div>
					</div>
					<div class="col-md-4">
						<button type="button" class="btn btn-secondary btn-sm ic-btn btn-block mb-3" ng-click="homeObj.jobObj.applyjob.fromDetail(homeObj.jobObj.preview.data)">Apply Job</button>
						<div class="card">
						  	<div class="card-body">
						    	<div>
						    		<span><i class="fa fa-adjust" aria-hidden="true"></i></span>	
						    		<span class="font-weight-bold">Job Type</span>
						    		<p>{{g.adminData.jobWorkType[homeObj.jobObj.preview.data.jobWorkType]}}</p>
						    	</div>
						    	<div>
						    		<span><i class="fa fa-money" aria-hidden="true"></i></span>	
						    		<span class="font-weight-bold">Salary</span>
						    		<p>{{homeObj.jobObj.preview.data.salary}}</p>
						    	</div>
						    	<div>
						    		<span><i class="fa fa-suitcase" aria-hidden="true"></i></span>
						    		<span class="font-weight-bold">Experience</span>
						    		<p>{{g.adminData.candidateMinExp[homeObj.jobObj.preview.data.cexpRequired]}}</p>
						    	</div>
						    	<div>
						    		<span><i class="fa fa-id-card-o" aria-hidden="true"></i></span>
						    		<span class="font-weight-bold">Candidate</span>
						    		<p>
										<span ng-if="homeObj.jobObj.preview.data.candidateType == 1">Male</span>
										<span ng-if="homeObj.jobObj.preview.data.candidateType == 2">Female</span>
										<span ng-if="homeObj.jobObj.preview.data.candidateType == 3">Male & Female</span>
									</p>
						    	</div>
						    	<div>
						    		<span><i class="fa fa-map-marker" aria-hidden="true"></i></span>
						    		<span class="font-weight-bold">Location</span>
						    		<p>{{homeObj.jobObj.preview.data.jobLocation}}-{{homeObj.jobObj.preview.data.cityName}}</p>
						    	</div>
						  	</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



<div class="modal fade full-modal" id="apply-for-job" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog" role="document">
		<div class="modal-content" ng-form="registerCandidateFrom">
			<div class="modal-header">
				<h3 class="modal-title">Candidate Register</h3>
				<button type="button" class="close" aria-label="Close" ng-click="homeObj.jobObj.applyjob.closeModal()">
		  			<i class="fa fa-window-close-o" aria-hidden="true"></i>
				</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label>Name</label>
							<input type="text" class="form-control" name="name" ng-model="homeObj.jobObj.applyjob.model.name" placeholder="Candidate name" ng-required="true" ng-class="{ 'text-error': homeObj.jobObj.applyjob.isSubmited && registerCandidateFrom.name.$error.required }">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>Email</label>
							<input type="email" class="form-control" name="email" ng-model="homeObj.jobObj.applyjob.model.email" placeholder="Email" ng-required="true" ng-class="{ 'text-error': homeObj.jobObj.applyjob.isSubmited && registerCandidateFrom.email.$error.required || registerCandidateFrom.email.$error.email }">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>Gender</label>
							<div class="custom-1">
								<div class="custom-control custom-radio custom-control-inline">
									<input type="radio" class="custom-control-input" value="male" id="genderid1" ng-model="homeObj.jobObj.applyjob.model.gender">
									<label class="custom-control-label" for="genderid1">Male</label>
								</div>
								<div class="custom-control custom-radio custom-control-inline">
									<input type="radio" class="custom-control-input" value="female" id="genderid2" ng-model="homeObj.jobObj.applyjob.model.gender">
									<label class="custom-control-label" for="genderid2">Female</label>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>Mobile Number</label>
							<input type="text" numbers-only class="form-control" name="mobile" ng-model="homeObj.jobObj.applyjob.model.mobile" placeholder="Mobile number" ng-required="true" ng-class="{ 'text-error': homeObj.jobObj.applyjob.isSubmited && registerCandidateFrom.mobile.$error.required }" maxlength="10" readonly="">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>WhatsApp Number</label>
							<input type="text" numbers-only class="form-control" name="wpContact" ng-model="homeObj.jobObj.applyjob.model.wpContact" placeholder="Whatsapp contact number" ng-required="true" ng-class="{ 'text-error': homeObj.jobObj.applyjob.isSubmited && registerCandidateFrom.wpContact.$error.required }" maxlength="10">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>Current Location</label>
							<input type="text" class="form-control" name="currentLocation" ng-model="homeObj.jobObj.applyjob.model.currentLocation" placeholder="Current Location" ng-required="true" ng-class="{ 'text-error': homeObj.jobObj.applyjob.isSubmited && registerCandidateFrom.currentLocation.$error.required }">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>Date Of Birth</label>
		
							<div class="input-group">
							  	<input type="text" class="form-control" aria-describedby="basic-addon1" name="birthDate" ng-model="homeObj.jobObj.applyjob.model.birthDate" placeholder="Date of birth" uib-datepicker-popup="{{g.adminData.dpFormat}}" is-open="homeObj.jobObj.applyjob.opened1" close-text="Close" readonly="" ng-required="true" ng-class="{ 'text-error': homeObj.jobObj.applyjob.isSubmited && registerCandidateFrom.birthDate.$error.required }">
							  	<div class="input-group-append">
							    	<span class="input-group-text pointer" ng-click="homeObj.jobObj.applyjob.opened1 = true"><i class="fa fa-calendar-o" aria-hidden="true"></i></span>
							  	</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>Qualification</label>
							<select class="form-control" name="qualification" ng-model="homeObj.jobObj.applyjob.model.qualification" ng-required="true" ng-class="{ 'text-error': homeObj.jobObj.applyjob.isSubmited && registerCandidateFrom.qualification.$error.required }">
								<option value="">--- Select Qualification ---</option>
								<option ng-repeat="row in g.adminData.categoryArray" value="{{row.key}}">{{row.name}}</option>
							</select>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>Department</label>

							<select class="form-control" name="department" ng-model="homeObj.jobObj.applyjob.model.department" ng-required="true" ng-class="{ 'text-error': homeObj.jobObj.applyjob.isSubmited && registerCandidateFrom.department.$error.required }">
								<option value="">--- Select Department ---</option>
								<option ng-repeat="row in g.globalvarObj.qualification" value="{{row._id}}" ng-if="row.qualifyIn == homeObj.jobObj.applyjob.model.qualification">{{row.name}}</option>
							</select>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>Area Of Interest</label>

							<div class="multi-select-span" ng-if="homeObj.jobObj.applyjob.model.qualification">
								<span class="pointer" ng-repeat="row in g.globalvarObj.areaOfInterest" ng-if="row.department == homeObj.jobObj.applyjob.model.qualification" ng-click="g.adminData.multiSelect(homeObj.jobObj.applyjob.model.areaOfInterest, row.title)">
									<span class="position-relative">
										<span class="badge badge-pill badge-primary">
											<span ng-if="homeObj.jobObj.applyjob.model.areaOfInterest.indexOf(row.title) != -1"><i class="fa fa-check-square" aria-hidden="true"></i></span> {{row.title}}
										</span>
									</span>
								</span>
							</div>
							<div class="multi-select-span" ng-if="!homeObj.jobObj.applyjob.model.areaOfInterest.length">
								<span>Select Area Of Interest</span>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>Expected Salary</label>
							<input type="text" class="form-control" name="expectedSalary" ng-model="homeObj.jobObj.applyjob.model.expectedSalary" ng-required="true" ng-class="{ 'text-error': homeObj.jobObj.applyjob.isSubmited && registerCandidateFrom.expectedSalary.$error.required }" placeholder="ex - 12000">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>Experience</label>

							<select class="form-control" name="experience" ng-model="homeObj.jobObj.applyjob.model.experience" ng-required="true" ng-class="{ 'text-error': homeObj.jobObj.applyjob.isSubmited && registerCandidateFrom.experience.$error.required }">
								<option value="">--- Select Experience ---</option>
								<option value="1">Fresher</option>
								<option value="2">6 Month To 1 Year</option>
								<option value="3">1 To 2 Year</option>
								<option value="4">3 To 5 Year</option>
								<option value="5">5 To 10 Year</option>
								<option value="6">10 Year+</option>
							</select>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>City</label>
							<select class="form-control" name="city" ng-model="homeObj.jobObj.applyjob.model.city" ng-required="true" ng-class="{ 'text-error': homeObj.jobObj.applyjob.isSubmited && registerCandidateFrom.city.$error.required }">
								<option value="">--- Select City ---</option>
								<option ng-repeat="row in g.globalvarObj.cites" ng-if="row.status" value="{{row._id}}">{{row.city}}</option>
							</select>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
		        <button type="button" class="btn btn-secondary" ng-click="homeObj.jobObj.applyjob.closeModal()">Close</button>
		        <button type="button" class="btn btn-primary" ng-if="!homeObj.jobObj.applyjob.isReqSent" ng-click="homeObj.jobObj.applyjob.submit(registerCandidateFrom)">Save</button>
		        <button type="button" class="btn btn-primary" ng-if="homeObj.jobObj.applyjob.isReqSent">Save changes</button>
	      	</div>
		</div>
	</div>
</div>



<div class="modal fade" id="confirm-contact" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog" role="document">
		<div class="modal-content" ng-form="confirmMobileForm">
			<div class="modal-header">
				<h3 class="modal-title">Confirm</h3>
				<button type="button" class="close" aria-label="Close" ng-click="homeObj.jobObj.applyjob.closeModal()">
		  			<i class="fa fa-window-close-o" aria-hidden="true"></i>
				</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<label>Contact Number</label>
						<input type="text" numbers-only class="form-control" name="phone" ng-model="homeObj.jobObj.applyjob.model.mobile" ng-required="true" ng-class="{ 'text-error': homeObj.contactObj.isSubmited && confirmMobileForm.phone.$error.required }" maxlength="10">
					</div>
				</div>
			</div>
			<div class="modal-footer">
		        <button type="button" class="btn btn-secondary btn-sm" ng-click="homeObj.jobObj.applyjob.closeModal()">Cancel</button>
		        <button type="button" class="btn btn-primary btn-sm" ng-click="homeObj.contactObj.submit(confirmMobileForm)" ng-disabled="homeObj.contactObj.isReqSent">Confirm</button>
	      	</div>
		</div>
	</div>
</div>



<div class="modal fade" id="comming-soon" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title">Sorry</h3>
				<button type="button" class="close" aria-label="Close" data-dismiss="modal">
		  			<i class="fa fa-window-close-o" aria-hidden="true"></i>
				</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<h5>Coming Soon....</h5>
					</div>
				</div>
			</div>
			<div class="modal-footer text-center">
		        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Thanks</button>
	      	</div>
		</div>
	</div>
</div>



<div class="modal fade" id="info-modal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title" ng-if="!g.infoText.error">Thank You!</h3>
				<h3 class="modal-title text-danger" ng-if="g.infoText.error">Alert!</h3>
				<button type="button" class="close" aria-label="Close" data-dismiss="modal">
					<i class="fa fa-window-close-o" aria-hidden="true"></i>
				</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<h6 ng-if="!g.infoText.error" class="text-success">{{g.infoText.msg}}</h6>
						<h6 ng-if="g.infoText.error" class="text-danger">{{g.infoText.msg}}</h6>
					</div>
				</div>
			</div>
			<div class="modal-footer text-center">
		        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
	      	</div>
		</div>
	</div>
</div>